/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* HEADER */



/* ICONS */
.google-logo {
    width: 91px;
    vertical-align: middle;
}

.google-apps {
    width: 24px;
    vertical-align: middle;
    opacity: .65;
}

.google-apps:hover {
    opacity: 1;
}

.google-mic {
    width: 14px;
    vertical-align: middle;
}

.google-mic:hover {
    cursor: pointer;
}

.google-magnify {
    width: 17px;
    color: #4285f4;
    vertical-align: middle;
}

.google-magnify:hover {
    cursor: pointer;
}

.sign-in {
    color: white;
    background-color: #4285f4;
    border: 1px solid #4387fd;
    border-radius: 2px;
    padding: 7px 11px;
    font-weight: bold;
}

.sign-in:hover {
    box-shadow: 0px 1px 1px lightgray;
}