/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}





/* HEADER ---- TRY TO FOCUS ON TARGETING TOP LEVEL ELEMENTS*/





/* ICONS */
.google-logo {
    width: 91px;
    vertical-align: middle;
    margin-left: 30px; 
}

.google-apps {
    width: 24px;
    vertical-align: middle;
    opacity: .65;
    margin-right: 20px;
}

.google-apps:hover {
    opacity: 1;
}

.google-mic {
    width: 14px;
    vertical-align: middle;
}

.google-mic:hover {
    cursor: pointer;
}

.google-magnify {
    width: 17px;
    color: #4285f4;
    vertical-align: middle;
}

.google-magnify:hover {
    cursor: pointer;
}

.sign-in {
    color: white;
    background-color: #4285f4;
    border: 1px solid #4387fd;
    border-radius: 2px;
    padding: 7px 11px;
    font-weight: bold;
}

.sign-in:hover {
    box-shadow: 0px 1px 1px lightgray;
}

.search {
    height: 45px;
    width: 630px;
    min-width: 450px;
    border: 1px solid lightgray;
    border-radius: 21px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 14px;
}

.search:hover {
    box-shadow: 0px 1px 5px lightgray;
}

.search:focus {
    outline: none;
}