/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





/* ICONS */
.google-apps {
    width: 24px;
    vertical-align: middle;
    opacity: .65;
}

.google-apps:hover {
    opacity: 1;
}

.google-mic {
    position: relative;
    right: 35px;
    width: 14px;
    vertical-align: middle;
}

.google-mic:hover {
    cursor: pointer;
}

.google-magnify {
    width: 14px;
    vertical-align: middle;
}