/*START GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*END GLOBAL*/

/*START HEADER*/
header {
    height: 25%;
    width: 100%;
    background-color: orange;
}
.left {
    display: inline;
}

.right {
    display: inline;
    float: right;
}

.left a, .right a {
    text-decoration: none;
}
/*END HEADER*/