* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    margin: 0;
}

.left, .right {
    display: inline;
}

.left a, .right a {
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    padding: 5px;
}

.right {
    float: right;
}

.google-apps {
    width: 20px;
    vertical-align: middle;
} /* RESIZE AND SET POSITION FOR THE GOOGLE APPS ICON */

.google-mic {
    width: 20px;
} /* RESIZE THE GOOGLE MICROPHONE */